<p><%= dynamicPath%> <%= title %></p>
<form
  action="/genres/<%if (typeof id!== undefined){ %>
<%= id%>
<% }%>/
<%= dynamicPath%>"
  method="POST"
  class="flex flex-dir-col"
>
  <label for="genre">Genre name:</label>
  <input type="text" name="genre" value="<%=genre.name%>" />
  <% if (dynamicPath === "Update"){ %>
    <label for="secretpassword">Secret password : </label>
  <input type="password" name="secretpassword" />
  <% } %>
  <button><%= dynamicPath %></button>
</form>
<% if (locals.errors) {%>
  <ul>
    <% errors.forEach(function(error) { %>
    <li><%= error.msg %></li>
    <% }); %>
  </ul>
  <% } %>
  