<div class="oswald-400 flex flex-al-it-center flex-just-cont-sp-around">
  <!-- <form
    action="<%= locals.baseURL %>/<%= id %>/"
    method="GET"
    class="flex flex-al-it-center flex-just-cont-sp-around"
  >
    <button type="submit" name="update">Update</button>
    <button name="delete" type="submit">Delete</button>
  </form> -->

  <a class="clickable" href="<%= locals.baseURL %>/<%=id%>/update">Update</a>
  <a class="clickable" href="<%= locals.baseURL%>/<%= id%>/delete">Delete</a>
</div>
