<!doctype html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body class="body-grid">
    <%- include("./partials/sidebar.ejs") %> <%-
    include("./partials/searchbar.ejs") %>
    <div class="content">
      <%- include("./partials/tools.ejs") %>

      <div
        class="sub-content flex flex-dir-col flex-just-cont-start flex-al-it-center gap1 oswald-400"
      >
        <div class="">
          <img class="img-container" src="<%= albumInfo.imageurl%>" alt="" />
        </div>

        <ul
          class="flex flex-dir-col flex-just-cont-start flex-al-it-center gap1 li-deco"
        >
          <li><%= albumInfo.title %> (Album ID: <%=id%>)</li>
          <li><%= albumInfo.firstname %> <%= albumInfo.lastname%></li>
          <li><%= albumInfo.releasedate%></li>
          <li><%= albumInfo.label_name %></li>
          <li><%= albumInfo.genre_name %></li>
        </ul>
      </div>
    </div>
  </body>
</html>
